@import "node_modules/@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Roboto Slab', sans-serif;
}

.background {
  display: flex;
  flex-direction: column;
}

/*========= TOP HALF / INPUT =========*/

h1 {
  margin: auto;
  padding: 1rem;
}

.user-input-ribbon {
  margin: auto;
}

.book-input {
  width: 250px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.form-group:last-child {
  display: block;
}

#submit {
  width: 100%;
  padding: 4px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: black;
  color: white;
  border: 2px solid;
}

#submit:hover {
  cursor: pointer;
}

/*========= BOTTOM HALF / OUTPUT =========*/

.output-table {
  margin: 1rem auto;
  width: 100vw;
  font-size: small;
}

.table {
  width: 100%;
}

td {
  text-align: center;
  border-bottom: dotted;
}


/*========= MEDIA QUERIES =========*/

@media (min-width: 700px) {
  
}

