@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto Slab', sans-serif;
  background-color: rgb(240, 240, 240);
}

.background {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
}

/*========= TOP HALF / INPUT =========*/

.header {
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  gap: 8px;
}

.user-input-ribbon {
  margin: auto;
}

.book-input {
  width: 250px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

#add-new {
  width: 100%;
  margin-top: 6px;
  padding: 4px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: black;
  color: white;
  border: 2px solid;
}

#add-new:hover {
  cursor: pointer;
}

/*========= BOTTOM HALF / OUTPUT =========*/

.output-table {
  margin: 1rem auto;
  width: 90vw;
  font-size: small;
}

.table {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid;
}

tr {
  display: flex;
  justify-content: space-around;
  height: auto;
  margin-top: 2px;
}

tbody {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

td {
  text-align: center;
  height: auto;
  border-bottom: 1px dotted;
}

.first-column {
  height: auto;
  word-wrap: break-word;
  width: 35%;
}

.second-column {
  height: auto;
  width: 35%;
}

.third-column, .fourth-column {
  width: 15%;
}

.read, .delete, .check {
  height: 1.5em;
}

.delete:hover, .read:hover, .check:hover {
  cursor: pointer;
}

/*========= MEDIA QUERIES =========*/

@media (min-width: 700px) {
  
}

